.move {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 28px;
  padding: 0 5px 0px 15px;
  line-height: 28px;
  color: #262421;
  font-size: 14px;
  font-weight: 600;
}

.node {
  position: absolute;
  display: flex;
  top: 3px;
  padding: 0 4px 0 4px;
  line-height: 24px;
  height: 24px;
  min-width: 40px;
  font-weight: 700;
  align-items: center;
}

.white {
  left: 40px;
}

.black {
  left: 150px;
}

.selected {
  background-color: #fff35f;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  color: #262421;
}

.node:not(.selected) {
  cursor: pointer;
}
